os:
  - linux
  - osx
language: node_js
node_js:
  - '6'
  - '4'
addons:
  apt:
    packages:
    - xsel
before_script:
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0; fi'
  - 'if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sh -e /etc/init.d/xvfb start; sleep 3; fi'
